<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content {{size}}">
      <div class="modal-body">
        <h4 ng-if="title"
            class="modal-title" ng-bind="title"></h4>
        <h5 style="font-weight: 400" ng-bind-html="content"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default"
                ng-click="close(0)"
                ng-bind="text.closeButton">
        </button>
      </div>
    </div>
  </div>
</div>