<div class="row">
  <div class="col-md-6">
    <h4>Simple Bar</h4>
    <bar-chart
      options-bind="::barChartOption4"
      datasource-bind="barChartData">
    </bar-chart>
  </div>
  <div class="col-md-6">
    <h4>Sparkline</h4>
    <bar-chart
      options-bind="::barChartOption5"
      datasource-bind="barChartData">
    </bar-chart>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>2 Bar Stacked</h4>
    <bar-chart
      options-bind="::barChartOption"
      datasource-bind="barChartData">
    </bar-chart>
  </div>

  <div class="col-md-6">
    <h4>4 Bar Stacked</h4>
    <bar-chart
      options-bind="::barChartOption3"
      datasource-bind="barChartData">
    </bar-chart>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>2 Bar Stacked (rotated)</h4>
    <bar-chart
      options-bind="::barChartOption2"
      datasource-bind="barChartData2">
    </bar-chart>
  </div>
  <div class="col-md-6">
    <h4>Bar Has Negative Color</h4>
    <bar-chart
      options-bind="::barUseNegativeColorOption"
      datasource-bind="barUseNegativeColorData">
    </bar-chart>
  </div>
</div>