<div class="row">
  <div class="col-md-6">
    <h4>Line Chart (Stacked)</h4>
    <line-chart
      options-bind="::lineChartOption"
      datasource-bind="lineChartData">
    </line-chart>
  </div>

  <div class="col-md-6">
    <h4>Line Chart (Not Stacked)</h4>
    <line-chart
      options-bind="::lineChartOption2"
      datasource-bind="lineChartData">
    </line-chart>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Line Chart (Stacked)</h4>
    <line-chart
      options-bind="::lineChartOption3"
      datasource-bind="lineChartData">
    </line-chart>
  </div>

  <div class="col-md-3">
    <h4>Sparkline Chart</h4>
    <sparkline-chart
      options-bind="::lineChartOption4"
      datasource-bind="lineChartData">
    </sparkline-chart>
  </div>

  <div class="col-md-3">
    <metrics-sparkline-chart-td
      caption="Disk Read" help="Disk Read Throughput"
      current="{{value}}" unit="MB/s"
      sub-text="Data is retrieved from harddisk #1"
      options-bind="::lineChartOption4"
      datasource-bind="lineChartData">
    </metrics-sparkline-chart-td>
  </div>
</div>