<div class="col-md-6">
  <h4>Line Chart 2</h4>
  <line-chart
    options-bind="::lineChartOption2"
    datasource-bind="lineChartData2">
  </line-chart>
</div>

<div class="col-md-6">
  <h4>Line Chart 4</h4>
  <line-chart
    options-bind="::lineChartOption4"
    datasource-bind="lineChartData2">
  </line-chart>
</div>

<div class="col-md-6">
  <h4>Line Chart 1 (time)</h4>
  <sparkline-chart
    options-bind="::lineChartOption"
    datasource-bind="lineChartData">
  </sparkline-chart>
</div>

<div class="col-md-6">
  <h4>Line Chart 2</h4>
  <sparkline-chart
    options-bind="::lineChartOption2"
    datasource-bind="lineChartData2">
  </sparkline-chart>
</div>

<div class="col-md-6">
  <h4>Line Chart 1 (time)</h4>
  <line-chart
    options-bind="::lineChartOption"
    datasource-bind="lineChartData">
  </line-chart>
</div>