<indicator tooltip="Good should be green" condition="good"></indicator>
<indicator tooltip="Concern should be orange" condition="concern"></indicator>
<indicator tooltip="Danger should be red" condition="danger"></indicator>
<indicator tooltip="Unknown condition, fallback to default color." condition="whatever"></indicator>
<p>
  <indicator tooltip="{{text}}" condition="{{condition}}"></indicator>
  Condition: {{condition}}
</p>

<tag condition="good" text="Build passed"></tag>
<tag condition="good" text="Build passed" tooltip="When you see the tooltip, the cursor should be a hand"></tag>
<tag href="/path/to/page" condition="danger" text="error" tooltip="Build failed"></tag>
<tag condition="{{condition}}" text="{{text}}"></tag>
