<table class="table table-striped table-condensed"
       st-table="records_" st-safe-src="records">
  <caption ng-if="caption" ng-bind="caption"></caption>
  <thead>
  <tr>
    <th ng-repeat="col in columns track by $index"
        ng-class="stylingFn(col)" ng-attr-st-sort="{{col.sortKey}}"
        st-sort-default={{col.defaultSort}}>{{col.name}}
      <help ng-if="col.hasOwnProperty('help')" text="{{col.help}}"></help>
    </th>
  </tr>
  <tr ng-if="searchable">
    <th colspan="{{columns.length}}">
      <input type="text" st-search placeholder="{{searchable}}"/>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="record in records_">
    <td ng-repeat="col in columns track by $index"
        ng-class="stylingFn(col)">
      <div ng-switch="isArray(col.key)">
        <div ng-switch-when="true"
             ng-repeat="childKey in col.key track by $index">
          <property value-bind="record[childKey]" renderer="{{col.renderer[$index]}}"></property>
        </div>
        <div ng-switch-default>
          <property value-bind="record[col.key]" renderer="{{col.renderer}}"></property>
        </div>
      </div>
    </td>
  </tr>
  <tr ng-if="records_.length===0">
    <td colspan="{{columns.length}}" class="text-center">
      <i>No data found</i>
    </td>
  </tr>
  </tbody>
  <tfoot ng-if="records_.length>0">
  <tr>
    <td colspan="{{columns.length}}">
      <div class="pull-left">
        Total: <span ng-bind="records_.length"></span>
      </div>
      <div class="pull-right"
           st-pagination st-items-by-page="pagination"
           st-template="sortable-table/sortable-table-pagination.html"></div>
    </td>
  </tr>
  </tfoot>
</table>