<div class="row">
  <div class="col-md-6">
    <sortable-table
      caption="Large table with {{recordsCount}} dynamic records"
      columns-bind="data.cols"
      records-bind="data.rows"
      search-bind="search">
    </sortable-table>
  </div>

  <div class="col-md-6">
    <sortable-table
      caption="Empty table"
      columns-bind="data.cols"
      search-bind="search">
      <div style="padding-bottom: 12px">
        <h4>No data rows defined</h4>
        <span>When you see this panel, it means you have forgotten to feed data.</span>
      </div>
    </sortable-table>
  </div>
</div>