<div class="row">
  <div class="col-md-6">
    <sortable-table
      caption="Data Table with {{recordsCount}} records"
      caption-tooltip="The table will be updated periodically"
      columns-bind="data.cols"
      records-bind="data.rows"
      search-bind="search">
    </sortable-table>
  </div>

  <div class="col-md-6">
    <sortable-table
      caption="Data Table"
      columns-bind="data.cols">
      <div class="table-no-data">
        <h4>
          <span class="glyphicon glyphicon-bullhorn"></span>
          No data records
        </h4>
        <h5>When you see this panel, it means there is no data.</h5>
      </div>
    </sortable-table>
  </div>
</div>