<table class="table table-striped table-condensed"
       st-table="showing" st-safe-src="records">
  <caption ng-if="caption" ng-bind="caption"></caption>
  <thead>
  <tr>
    <th ng-repeat="col in columns track by $index"
        ng-class="stylingFn(col)" ng-attr-st-sort="{{col.sortKey}}"
        st-sort-default={{col.defaultSort}}>{{col.name}}
      <help ng-if="col.hasOwnProperty('help')" text="{{col.help}}"></help>
    </th>
  </tr>
  <tr ng-show="false">
    <th colspan="{{columns.length}}">
      <!-- Add an invisible search box that watches external search text -->
      <input type="text" st-search/>
      <!-- Add an invisible pagination before rendering any rows, otherwise it will at least
      render all records once, even they should be shown after page 1. -->
      <div st-pagination st-items-by-page="pagination"></div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="record in showing track by $index">
    <td ng-repeat="col in columns track by $index" ng-class="stylingFn(col)">
      <div ng-switch="isArray(col.key)">
        <div ng-switch-when="true"
             ng-repeat="childKey in col.key track by $index">
          <div ng-class="{'props-in-one-line':!col.vertical}">
            <property value-bind="record[childKey]" renderer="{{col.renderer[$index]}}"></property>
          </div>
        </div>
        <div ng-switch-default>
          <property value-bind="record[col.key]" renderer="{{col.renderer}}"></property>
        </div>
      </div>
    </td>
  </tr>
  <tr ng-if="showing.length===0">
    <td colspan="{{columns.length}}" class="text-center">
      <i>No data found</i>
    </td>
  </tr>
  <tr ng-if="showing.length>0&&showing.length<pagination"
      ng-repeat="i in range(pagination-showing.length) track by $index">
    <td colspan="{{columns.length}}">
      <span ng-bind-html="emptyRowContent"></span>
    </td>
  </tr>
  </tbody>
  <tfoot ng-if="records.length>0">
  <tr>
    <td colspan="{{columns.length}}"
        st-pagination st-items-by-page="pagination"
        st-template="tables/sortable-table/sortable-table-pagination.html">
    </td>
  </tr>
  </tfoot>
</table>