<div class="pull-left">
  <st-summary></st-summary>
</div>
<div class="pull-right">
  <div ng-if="pages.length>=2" class="btn-group btn-group-xs">
    <!--
    <button type="button" class="btn btn-default"
            ng-class="{disabled: 1==currentPage}" ng-click="selectPage(1)">
      <span class="glyphicon glyphicon-step-backward"></span></button>-->
    <button type="button" class="btn btn-default"
            ng-class="{disabled:1==currentPage}" ng-click="selectPage(currentPage-1)">
      &laquo;</button>
    <button type="button" class="btn btn-default"
            ng-repeat="page in pages track by $index"
            ng-class="{active:page==currentPage}" ng-click="selectPage(page)">
      {{page}}
    </button>
    <button type="button" class="btn btn-default"
            ng-class="{disabled:numPages==currentPage}" ng-click="selectPage(currentPage+1)">
      &raquo;</button>
    <!--
    <button type="button" class="btn btn-default"
            ng-class="{disabled: numPages==currentPage}" ng-click="selectPage(numPages)">
      <span class="glyphicon glyphicon-step-forward"></span></button>-->
  </div>
</div>