#content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 561px) {
  #page-wrapper.open {
    padding-left: 250px;
  }
}

@media only screen and (max-width: 560px) {
  #page-wrapper.open {
    padding-left: 70px;
  }
}

#page-wrapper.open #sidebar-wrapper {
  left: 150px;
}

/**
 * Hamburg Menu
 * When the class of 'hamburg' is applied to the body tag of the document, 
 * the sidebar changes it's style to attempt to mimic a menu on a phone app,
 * where the content is overlaying the content, rather than push it.
 */
@media only screen and (max-width: 560px) {
  body.hamburg #page-wrapper {
    padding-left: 0;
  }

  body.hamburg #page-wrapper:not(.open) #sidebar-wrapper {
    position: absolute;
    left: -100px;
  }

  body.hamburg #page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
    display: none;
  }

  body.hamburg #page-wrapper.open #sidebar-wrapper {
    position: fixed;
  }

  body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main {
    margin-left: 0;
  }

  body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main,
  body.hamburg .row.header .meta {
    margin-left: 70px;
  }

  body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main,
  body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main {
    transition: margin-left 0.4s ease 0s;
  }
}

/**
 * Header
 */
.row.header {
  height: 60px;
  background: #fff;
  margin-bottom: 15px;
}

.row.header > div:last-child {
  padding-right: 0;
}

.row.header .meta .page {
  font-size: 17px;
  padding-top: 11px;
}

.row.header .meta div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
.loading {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
*/

/* Base */
html {
  overflow-y: scroll;
}

/*body {
  background: #f3f3f3;
  color: #333333 !important;
}*/

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row > div {
  margin-bottom: 15px;
}

.alerts-container .alert:last-child {
  margin-bottom: 0;
}

#page-wrapper {
  padding-left: 70px;
  height: 100%;
}

#sidebar-wrapper {
  margin-left: -150px;
  left: -30px;
  width: 250px;
  position: fixed;
  height: 100%;
  z-index: 999;
}

#page-wrapper,
#sidebar-wrapper {
  transition: all .4s ease 0s;
}

.green {
  background: #23ae89 !important;
}

.blue {
  background: #2361ae !important;
}

.orange {
  background: #d3a938 !important;
}

.red {
  background: #ae2323 !important;
}

/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/* Sidebar menu item hover color */
/**
 * Sidebar
 */
#sidebar-wrapper {
  background: /*#30426a*/ #3C4749;
}

ul.sidebar .sidebar-main a,
.sidebar-footer,
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
  /* Sidebar header and footer color */
  background: /*#2d3e63*/ /*#364b5f*/ #353F41;
}

ul.sidebar .sidebar-list a:hover {
  background: /*#2d3e63*/ /*#273646*/ #4B5658;
}

ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 250px;
}

ul.sidebar .sidebar-main {
  height: 65px;
}

ul.sidebar .sidebar-main a {
  font-size: 1.35em;
  line-height: 60px;
}

ul.sidebar .sidebar-main a:hover {
  cursor: pointer;
}

ul.sidebar .sidebar-title,
ul.sidebar .sidebar-main .menu-icon {
  font-size: 1.2em;
  font-weight: 500;
}

ul.sidebar .sidebar-title {
  font-size: .85em;
}

ul.sidebar .sidebar-main .menu-icon {
  float: right;
  padding-right: 28px;
  line-height: 60px;
}

ul.sidebar .sidebar-title {
  color: /*#b2bfdc*/#999;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .6s ease 0s;
  margin-top: 20px;
}

ul.sidebar .sidebar-list {
  height: 32px;
}

ul.sidebar .sidebar-list a,
ul.sidebar .sidebar-list .menu-icon {
  line-height: 32px;
}

ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 1.05em;
  color: /*#738bc0*/ #fff;
}

ul.sidebar .sidebar-list a:hover {
  color: #fff;
}

ul.sidebar .sidebar-list .active {
  color: #000;
  background-color: #fff;
}

ul.sidebar .sidebar-list .active,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span {
  border-left: 3px solid /*#e99d1a*/ #ff3c3c;
  text-indent: 22px;
}

ul.sidebar .sidebar-list .active .menu-icon,
ul.sidebar .sidebar-list a:hover .menu-icon {
  text-indent: 25px;
}

ul.sidebar .sidebar-list .menu-icon {
  float: right;
  padding-right: 29px;
  width: 70px;
}

#page-wrapper:not(.open) ul.sidebar {
  bottom: 0;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title {
  display: none;
  height: 0;
  text-indent: -100px;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
  display: block;
  height: 2px;
  margin: 13px 0;
}

#page-wrapper:not(.open) .sidebar-footer {
  display: none;
}

.sidebar-footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  text-align: center;
}

.sidebar-footer div a,
.sidebar-footer div span {
  color: /*#b2bfdc*/#fff;
  font-size: 12px;
  line-height: 43px;
}

.sidebar-footer div a:hover {
  color: #fff;
  text-decoration: none;
}

/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/* Sidebar menu item hover color */