<div class="form-group">
  <label class="{{labelStyleClass}} control-label text-right">
    <span ng-bind="label"></span>
    <span ng-if="help" style="font-size: 0.9em">
      <remark tooltip="{{help}}" type="info"></remark>
    </span>
  </label>
  <ng-switch on="renderAs">
    <!-- select -->
    <div ng-switch-when="choices">
      <div class="{{controlStyleClass}}">
        <ui-select theme="select2" class="form-control"
                   ng-model="$parent.$parent.value"
                   search-enabled="allowSearchInChoices">
          <ui-select-match placeholder="{{placeholder}}"
                           allow-clear="{{allowClearSelection}}">{{$select.selected.text}}
          </ui-select-match>
          <ui-select-choices repeat="choice in choices|
          any: {text: $select.search, subtext: $select.search}">
            <div ng-class="{'bold': $select.selected === choice}"
                 ng-bind-html="choice.text|highlight:$select.search"></div>
            <small ng-if="choice.subtext"
                   ng-class="{'bold': $select.selected === choice}"
                   ng-bind-html="choice.subtext|highlight:$select.search"></small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <!-- check -->
    <div ng-switch-when="check">
      <div class="{{controlStyleClass}} checkbox">
        <label>
          <input type="checkbox" ng-checked="$parent.value"
                 ng-click="$parent.value = !$parent.value"/>
          <span ng-bind="text"></span>
        </label>
      </div>
    </div>
    <!-- check group -->
    <div ng-switch-when="multi-checks">
      <div class="{{controlStyleClass}}">
        <label class="checkbox-inline"
               ng-repeat="choice in choices track by $index">
          <input type="checkbox" ng-checked="$parent.value[$index]"
                 ng-click="$parent.value[$index] = !$parent.value[$index]"/>
          <span ng-bind="choice"></span>
        </label>
      </div>
    </div>
    <!-- radio group -->
    <div ng-switch-when="radio">
      <div class="{{controlStyleClass}}">
        <div class="btn-group btn-group-justified">
          <div ng-repeat="choice in choices track by $index"
               class="btn-group">
            <button type="button" class="btn {{buttonStyleClass}} btn-default"
                    ng-class="{'btn-primary': choice.value == value}"
                    ng-bind="choice.text" value="{{choice.value}}"
                    ng-click="toggle(choice.value)"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- numeric input with arrow buttons -->
    <div ng-switch-when="integer">
      <div class="{{controlStyleClass}}"
           ng-class="{'has-error': !pristine && invalid}">
        <input type="number" class="form-control input-sm"
               ng-attr-min="{{min}}" ng-attr-max="{{max}}"
               ng-model="$parent.value"/>
      </div>
    </div>
    <!-- date time picker -->
    <div ng-switch-when="datetime">
      <div class="{{dateControlStyleClass}}" style="padding-right: 8px"
           ng-class="{'has-error': dateInputInvalid}">
        <input class="form-control input-sm"
               data-date-format="yyyy-MM-dd"
               type="text" size="10" placeholder="Date"
               ng-model="$parent.dateValue" date-type="string"
               data-autoclose="1"
               template-url="forms/datepicker.html"
               use-native="true" bs-datepicker/>
      </div>
      <div class="{{timeControlStyleClass}}" style="padding-left: 0"
           ng-class="{'has-error': timeInputInvalid}">
        <input class="form-control input-sm"
               data-time-format="HH:mm:ss"
               type="text" size="8" placeholder="Time"
               ng-click="fillDefaultTime()"
               ng-model="$parent.timeValue" time-type="string"
               hour-step="1" minute-step="1" second-step="1" data-length="3"
               arrow-behavior="picker"
               template-url="forms/timepicker.html"
               use-native="true" bs-timepicker/>
      </div>
    </div>
    <!-- upload -->
    <div ng-switch-when="upload">
      <div class="{{controlStyleClass}} has-feedback"
           ng-class="{'has-error': !pristine && invalid}">
        <input type="text" readonly class="form-control input-sm"
               ng-click="openUpload()"
               ng-model="$parent.filename"/>
        <!-- Toggle buttons -->
        <span ng-hide="$parent.value"
              class="glyphicon glyphicon-folder-open form-control-feedback form-control-feedback-sm clickable"
              ngf-select ng-model="$parent.files" accept="{{acceptPattern}}" ngf-accept="'{{acceptPattern}}'"></span>
        <span ng-show="$parent.value"
              class="glyphicon glyphicon-trash form-control-feedback form-control-feedback-sm clickable"
              ng-click="clearSelection()"></span>
      </div>
    </div>
    <!-- text input -->
    <div ng-switch-default>
      <div class="{{controlStyleClass}}">
        <div ng-class="{'has-error': !pristine && invalid, 'has-feedback': choicesMenu}">
          <div ng-class="{'input-group': choicesMenu}">
            <div ng-if="choicesMenu"
                 class="input-group-addon at-left"
                 bs-dropdown="choicesMenu" placement="auto bottom-left" html="true">
              <span class="{{choiceIconStyleClass}} clickable"></span>
            </div>
            <input type="text" class="form-control input-sm"
                   ng-model="$parent.value"
                   reset-search-input="false"/>
          </div>
        </div>
      </div>
    </div>
  </ng-switch>
</div>