<table class="table table-striped table-hover">
  <caption ng-if="caption" ng-bind="caption"></caption>
  <tbody>
  <tr ng-repeat="prop in props track by $index">
    <td ng-class="propNameClass">
      <span ng-bind="prop.name"></span>
      <help ng-if="prop.help" text="{{prop.help}}"></help>
    </td>
    <td ng-class="propValueClass">
      <ng-switch on="prop.hasOwnProperty('values')">
        <property
          ng-switch-when="true"
          ng-repeat="value in prop.values track by $index"
          value-bind="value" renderer="{{prop.renderer}}"></property>
        <property
          ng-switch-when="false"
          value-bind="prop.value" renderer="{{prop.renderer}}"></property>
      </ng-switch>
    </td>
  </tr>
  </tbody>
</table>