<ul class="sidebar" bs-navbar>
  <li class="sidebar-main">
    <a ng-click="toggleSidebar()">
      <!-- brand -->
      DASHING
      <span class="label label-primary">beta</span>
      <!--<span class="menu-icon glyphicon glyphicon-menu-hamburger"></span>-->
    </a>
  </li>

  <!-- section 1 -->
  <li class="sidebar-title">Charts</li>
  <li class="sidebar-list">
    <a href="#/charts/line">Line Chart</a>
  </li>
  <li class="sidebar-list">
    <a href="#/charts/bar">Bar Chart</a>
  </li>
  <li class="sidebar-list">
    <a href="#/charts/ring">Ring Chart</a>
  </li>

  <!-- section 2 -->
  <li class="sidebar-title">Tables</li>
  <li class="sidebar-list">
    <a href="#/tables/property">Property Table</a>
  </li>
  <li class="sidebar-list">
    <a href="#/tables/sortable">Sortable Table</a>
  </li>
  <li class="sidebar-list">
    <a href="#/state">Decorations</a>
  </li>

  <!-- section 3 -->
  <li class="sidebar-title">Forms</li>
  <li class="sidebar-list">
    <a href="#/forms/forms">Form Controls</a>
  </li>
</ul>