<ng-switch on="renderer">
  <!-- link -->
  <a
    ng-switch-when="Link"
    ng-href="{{href}}" ng-bind="text"></a>
  <!-- button -->
  <button
    ng-switch-when="Button"
    ng-if="!hide"
    type="button" class="btn btn-default {{class}}" ng-bind="text" ng-click="click()"
    ng-attr-ng-disabled="{{disabled}}"></button>
  <!-- tag (clickable label in a colored box) -->
  <a
    ng-switch-when="Tag"
    ng-href="{{href}}" ng-bind="text" class="label label-lg {{color}}" bs-tooltip="tooltip"></a>
  <!-- state -->
  <state
    ng-switch-when="State"
    text="{{text}}" condition="{{condition}}"></state>
  <!-- indicator -->
  <indicator
    ng-switch-when="Indicator"
    text="{{text}}" condition="{{condition}}"></indicator>
  <!-- progress bar -->
  <progressbar
    ng-switch-when="ProgressBar"
    current="{{current}}" max="{{max}}"></progressbar>
  <!-- duration-->
  <span
    ng-switch-when="Duration"
    ng-bind="value|duration"></span>
  <!-- datetime-->
  <span
    ng-switch-when="DateTime"
    ng-bind="value|date:'yyyy-MM-dd HH:MM:ss'"></span>
  <!-- number-->
  <span
    ng-switch-when="Number"
    ng-bind="value|number:0"></span>
  <!-- default -->
  <span
    ng-switch-default
    ng-bind="value"></span>
</ng-switch>