<ng-switch on="renderer">
  <!-- link -->
  <a
    ng-switch-when="Link"
    ng-href="{{href}}"
    ng-bind="text"></a>
  <!-- button -->
  <button
    ng-switch-when="Button"
    ng-if="!hide"
    type="button" class="btn btn-default {{class}}"
    ng-bind="text"
    ng-click="click()"
    ng-disabled="disabled"
    ng-attr-bs-tooltip="tooltip"></button>
  <!-- tag (clickable label in a colored box) -->
  <tag
    ng-switch-when="Tag"
    text="{{text}}"
    ng-attr-href="{{href}}"
    ng-attr-condition="{{condition}}"
    ng-attr-tooltip="{{tooltip}}"></tag>
  <!-- indicator -->
  <indicator
    ng-switch-when="Indicator"
    ng-attr-shape="{{shape}}"
    ng-attr-condition="{{condition}}"
    ng-attr-tooltip="{{tooltip}}"></indicator>
  <!-- progress bar -->
  <progressbar
    ng-switch-when="ProgressBar"
    current="{{current}}" max="{{max}}"></progressbar>
  <!-- duration-->
  <span
    ng-switch-when="Duration"
    ng-bind="value|duration"></span>
  <!-- datetime-->
  <span
    ng-switch-when="DateTime"
    ng-bind="value|date:'yyyy-MM-dd HH:MM:ss'"></span>
  <!-- number-->
  <number
    ng-switch-when="Number"
    number="{{number}}"
    ng-attr-unit="{{unit}}"></number>
  <!-- default -->
  <span
    ng-switch-default
    ng-bind="value"></span>
</ng-switch>