<div class="metrics">
  <div>
    <span class="metrics-caption" ng-bind="caption"></span>
    <remark
      ng-if="help"
      type="{{remarkType}}" tooltip="{{help}}" ng-click="clickHelp()"></remark>
  </div>
  <h3 class="metrics-value">
    <span ng-bind="value"></span>
    <ng-switch on="unitPlural && value > 1">
      <small ng-switch-when="true"
             ng-bind="unitPlural"></small>
      <small ng-switch-default
             ng-bind="unit"></small>
    </ng-switch>
  </h3>
  <small
    ng-if="subText"
    class="metrics-sub-text" ng-bind="subText"></small>
</div>