<div class="pull-left hidden-sm hidden-xs"
     style="margin-bottom: 10px">
  <!-- if pagination is too long, it will automatically move to second line by having the margin-bottom -->
  <st-summary></st-summary>
</div>
<div class="pull-right">
  <div ng-if="pages.length >= 2"
       class="btn-group btn-group-xs tb-pagination">
    <button ng-if="pages[0] > 1 + 10"
            type="button" class="btn btn-default"
            ng-click="selectPage(1)">
      1
    </button>
    <button ng-if="pages[0] > 1"
            type="button" class="btn btn-default"
            ng-click="selectPage(currentPage - 1)">
      &laquo;</button>
    <button type="button" class="btn btn-default"
            ng-repeat="page in pages track by $index"
            ng-class="{active: page == currentPage}"
            ng-click="selectPage(page)">
      {{page}}
    </button>
    <button ng-if="pages[pages.length - 1] < numPages"
            type="button" class="btn btn-default"
            ng-click="selectPage(currentPage + 1)">
      &raquo;</button>
    <button ng-if="pages[pages.length - 1] < numPages - 10"
            type="button" class="btn btn-default"
            ng-click="selectPage(numPages)">
      {{numPages}}
    </button>
  </div>
</div>