<table class="table table-hover"
       st-table="showing" st-safe-src="records">
  <caption ng-if="caption">
    {{caption}}
    <remark ng-if="captionTooltip"
            tooltip="{{captionTooltip}}"
            placement="right"></remark>
    <small ng-if="subCaption"
           class="visible-md" ng-bind="subCaption"></small>
  </caption>
  <thead>
  <tr ng-if="!hasRecords()">
    <th colspan="{{columns.length}}" class="text-center active"
        ng-transclude></th>
  </tr>
  <tr ng-if="hasRecords()">
    <th ng-repeat="column in columns track by $index"
        class="{{::columnStyleClass[$index]}}"
        ng-attr-st-sort="{{::column.sortKey}}"
        ng-attr-st-sort-default="{{::column.defaultSort}}">
      <span ng-bind="::column.name"></span>
      <remark ng-if="column.help"
              type="question" tooltip="{{::column.help}}"></remark>
      <span ng-if="column.unit"
            class="unit" ng-bind="::column.unit"></span>
    </th>
  </tr>
  <tr ng-show="false">
    <th colspan="{{columns.length}}">
      <!-- Add an invisible search box that watches external search text -->
      <input type="hidden" st-search/>
      <!-- Add an invisible pagination before rendering any rows, otherwise it will at least
      render all records once, even they should be shown after page 1. -->
      <div st-pagination st-items-by-page="pagination"></div>
    </th>
  </tr>
  </thead>
  <tbody style="height: 100%">
  <tr ng-repeat="record in showing track by $index"
      style="display: table-row; height: 100%">
    <td ng-repeat="column in columns track by $index"
        class="{{columnStyleClass[$index]}}"
        style="height: 100%" ng-style="{'background-color': bgColorForStripeFix($index, record)}">
      <ng-switch on="isArray(column.key)">
        <property ng-switch-when="true"
                  ng-repeat="columnKeyChild in column.key track by $index"
                  value-bind="record[columnKeyChild]"
                  renderer="{{multipleRendererColumnsRenderers[$parent.$index][$index]}}"></property>
        <property ng-switch-when="false"
                  value-bind="record[column.key]"
                  renderer="{{column.renderer}}"></property>
      </ng-switch>
    </td>
  </tr>
  <tr ng-if="search && (!showing || !showing.length)">
    <td colspan="{{columns.length}}" class="text-center">
      <h5 ng-bind="emptySearchResult"></h5>
    </td>
  </tr>
  </tbody>
  <tfoot ng-if="records.length">
  <tr>
    <td colspan="{{columns.length}}"
        st-pagination st-items-by-page="pagination"
        st-template="tables/sortable_table/sortable_table_pagination.html">
    </td>
  </tr>
  </tfoot>
</table>