<div class="row">
  <div class="col-md-6">
    <form name="form">
      <div class="form-group-header">Basic</div>
      <form-control
        type="text" label="Name:"
        ng-model="name">
      </form-control>
      <div class="form-group-header">Radio Groups</div>
      <form-control
        type="radio" label="Radio Group:" btn-style-class="btn-sm"
        ng-model="radio" choices="{{radioChoices}}">
      </form-control>
      <form-control
        type="radio" label="Radio Group:"
        ng-model="radio2" choices="{{radioChoices2}}">
      </form-control>
    </form>
  </div>

  <div class="col-md-6">
    <form name="form2">
      <div class="form-group-header">Basic</div>
      <form-control
        type="text" label="Name:"
        ng-model="name">
      </form-control>
      <div class="form-group-header">Radio Groups</div>
      <form-control
        type="radio" label="Radio Group:" btn-style-class="btn-sm"
        ng-model="radio" choices="{{radioChoices}}">
      </form-control>
      <form-control
        type="radio" label="Radio Group:"
        ng-model="radio2" choices="{{radioChoices2}}">
      </form-control>
    </form>
  </div>
</div>
